.about 
    background: $bg
    padding: 120px 0
    &__title
        margin-bottom: 18px
    &__subtitle
        max-width: 490px
        text-align: center
        margin: $mc
        color: $tb
        font-size: 18px
        line-height: 22px
@media (max-width: 375px)
    .about
        padding: 73px 0 85px 0
        &__title
            margin-bottom: 30px