.contacts 
    padding-top: 115px
    padding-bottom: 125px
    &__title
        margin-bottom: 20px
    &__text
        text-align: center
        color: $tb
        margin-bottom: 30px
    &__btns
        text-align: center
        margin-bottom: 85px
        button
            background: $tb
            padding: 13px 30px
            border-radius: 50px
            color: $white
    &__social
        @include flex(center, center)
        margin-bottom: 45px
        img
            margin-right: 60px
            &:last-child
                margin-right: 0
    &__subtitle
        text-align: center
        
            