.menu
    padding: 32px 0
    &__list
        display: flex
        justify-content: space-between
        align-items: center
    &__link
        color: $ts
        transition: .3s
        line-height: 22px
        &:hover
            color: $tb

.header
    &__content
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 31px
    &__title
        color: $tb
        font-size: 47.3392px
        line-height: 59px
    &__subtitle
        color: $tb
        font-size: 18px
        line-height: 22px
    &__lang
        writing-mode: vertical-rl
        -webkit-transform: rotate(-180deg)
        -moz-transform: rotate(-180deg)
        font-size: 16px
        line-height: 20px
    &__lang-eng
        color: $tb
    &__img
        margin-bottom: 105px
        max-width: 100%
        height: auto
    &__img-mobile
        display: none

@media (max-width: 375px)
    .header
        padding: 65px 0 90px 0
        &__img
            display: none
        &__img-mobile
            display: block
            max-width: 100%
            height: auto
        &__content
            flex-direction: column
            align-items: start
        &__title
            margin-bottom: 23px
        &__subtitle
            margin-bottom: 37px
        &__lang
            display: none
        
    .menu
        padding: 0        
        &__list
            display: none

@media (max-width: 768px)
    .skills__adobe
        flex-wrap: wrap
    .skills__card
        margin-bottom: 100px
        align-items: center
        justify-content: center
        &:last-child
            margin-bottom: 0

@media (max-width: 575px)
    .header
        padding: 65px 0 90px 0
        &__img
            display: none
        &__img-mobile
            display: block
            max-width: 100%
            height: auto
        &__content
            flex-direction: column
            align-items: start
        &__title
            margin-bottom: 23px
        &__subtitle
            margin-bottom: 37px
        &__lang
            display: none
        
    .menu
        padding: 0        
        &__list
            display: none