.skills
    padding-top: 90px
    padding-bottom: 110px
    min-height: 610px
    &__title
        margin-bottom: 70px
    &__text
        margin-bottom: 85px
        text-align: center
    &__adobe
        @include flex(space-between, center)
        text-align: center
        img
            margin-bottom: 25px
        p
            margin-bottom: 40px
.content__adobe
    max-width: 170px
.checked 
    color: $tb
