.skills
    padding: 91px 0 111px 0
    &__title
        margin-bottom: 70px
    &__subtitle
        text-align: center
        margin-bottom: 83px
        line-height: 22px
        color: $tb
    &__adobe
        display: flex
        justify-content: space-between
        align-items: center
    &__card
        text-align: center
        width: 170px
        height: 210px            
    &__card-img
        margin-bottom: 24px
        max-width: 100%
        height: auto
    &__card-subtitle
        margin-bottom: 40px            
.checked 
    color: $tb

@media (max-width: 375px)
    .skills
        padding: 75px 0 100px 0
        &__title
            margin-bottom: 50px
        &__subtitle
            margin-bottom: 71px
        &__adobe
            flex-direction: column
        &__card
            margin-bottom: 81px
            &:last-child
                margin-bottom: 0